@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');


body{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

nav{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #6f6f6f;
}

nav h1{
    color: #717171;
    font-family: 'Playfair Display', sans-serif;
    font-size: 30px
}

nav .onglets{
    margin-top: 3px;
    margin-left: 300px;

}

nav .onglets a{
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    border-bottom: 1px solid #000;
    padding-bottom : 5px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('Img/coffre.jpg');
    background-size:cover;
    background-position: left -250px bottom 50% ;
    padding: 40px;
    color: #fff;
}

header h1{
    font-family: 'Monserrat', sans-serif;
    font-size: 50px
}

header h4{
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #fff ;
}

header button{
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    font-size: 20px;
    font-family: 'Playfair Display', sans-serif;
    outline: none;
    cursor: pointer;
}

.main {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .content .card{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-bottom:20px ;
    margin-left:0px;
    padding-left: 0px;
}

.main .content .card .left{
    flex: 30%;
    padding: 20px;
    background-color: black ;
    color: #fff;
}

.main .content .card .right img{
    flex: 70%;
    height: 300px;
    width: 400px;
    margin-top: 5px;
}

footer{
    margin-top: 40px;
    margin-right: -100px;
    margin-left: -100px;
    border-top: 5px solid #6f6f6f;
    background-color: #000;
    color: #fff;
    padding:30px 100px;
}

footer h1{

    font-family: 'Playfair Display', sans-serif;
    border-bottom: 1px solid #fff;
    width: 20%;
    padding-bottom: 5px;
}

footer .services{
    margin-top: -10px;
    display:flex;
    flex-wrap:wrap;
}

footer .services .service{
    margin-right: 30px;
    padding: 10px;
}

footer .services .service p{
    max-width: 300px;
}

@media screen and (max-width: 680px){

    nav .onglets{
        margin-left: 0px;
        margin-bottom: 20px;
    }
}


